name: Build Windows EXE and Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r Scripts/requirements.txt
          pip install pyinstaller

      - name: Build EXE (PyInstaller)
        run: |
          cd Scripts
          pyinstaller --onedir --windowed `
            --paths ".." `
            --add-data "..\Data;Data" `
            --add-data "images;images" `
            --add-data "config.ini;." `
            income_predictor.py

      - name: Zip build folder
        run: |
          powershell Compress-Archive -Path Scripts\dist\income_predictor\* -DestinationPath income_predictor-windows.zip

      - name: Create GitHub Release & upload EXE
        uses: softprops/action-gh-release@v2
        with:
          files: income_predictor-windows.zip
